@import "./../common/abstracts/_mixin.scss";
@import "./../common/abstracts/variable.scss";
//@import "./../icon/index.scss";

@include b(radio) {
  display: block;
  margin-bottom: 10px;
  font-size: 0;

  &:last-child {
    margin-bottom: 10px;
  }

  @include e(shape) {
    position: relative;
    display: inline-block;
    width: $-radio-size;
    height: $-radio-size;
    border: 1px solid $-radio-color-border;
    border-radius: 50%;
    color: #fff;
    background: #fff;
    vertical-align: middle;
    transition: background .2s;
    overflow: hidden;
  }
  @include e(input) {
    position: absolute;
    width: 0;
    height: 0;
    margin: 0;
    opacity: 0;
  }
  @include e(label) {
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
    font-size: $-radio-label-font-size;
    color: $-color-title;
  }
  @include e(check) {
    position: absolute;
    display: inline-block;
    right: 0;
    top: 1px;
    color: #fff;
    font-size: 13px;
    opacity: 0;
    transition: opacity .2s;
  }
  @include when(checked) {
    .be-radio__shape {
      color: $-radio-color-checked;
      background: currentColor;
      border-color: currentColor;
    }
    .be-radio__check {
      opacity: 1;
    }
  }
  @include when(dot) {
    .be-radio__check {
      width: 10px;
      height: 10px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background: currentColor;
      border-radius: 50%;
    }
    @include when(checked) {
      .be-radio__check {
        color: $-radio-color-checked;
      }
      .be-radio__shape {
        background: #fff;
        border-color: currentColor;
      }
    }
  }

  @include when(button) {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 8px;
    // 小程序中每个插槽会被shadow-root包起来，所以last-child等伪类选择器无效
    //&:last-child {
    //  margin-right: 0;
    //}
    .be-radio__shape {
      width: 0;
      height: 0;
      overflow: hidden;
      opacity: 0;
      border: none;
    }
    .be-radio__label {
      margin-left: 0;
      padding: 4px 28px;
      border: 1px solid $-radio-color-border;
      border-radius: 4px;
      transition: all .2s;
    }
    @include when(checked) {
      .be-radio__label {
        color: $-radio-color-checked;
        border-color: currentColor;
      }
    }
  }

  @include when(disabled) {
    .be-radio__shape {
      border-color: $-radio-color-disabled-label;
    }
    .be-radio__label {
      color: $-radio-color-disabled-label;
    }
    @include when(checked) {
      .be-radio__shape {
        color: $-radio-color-disabled-label;
      }
      @include when(dot) {
        .be-radio__check {
          color: $-radio-color-disabled-label;
        }
      }
      .be-radio__label {
        color: $-radio-color-disabled-label;
      }
    }
    @include when(button) {
      .be-radio__label {
        border-color: $-radio-color-disabled;
      }
    }
  }
}