@import '../common/abstracts/variable';
@import '../common/abstracts/mixin';

@include b(loadmore) {
  width: 100%;
  height: $-load-more-height;
  line-height: $-load-more-height;
  text-align: center;
  color: $-load-more-color;

  @include e(indicator) {
    display: inline-block;
    width: $-load-more-loading-size;
    height: $-load-more-loading-size;
    line-height: 1.1;
    margin-right: 4px;
    vertical-align: middle;
  }
  @include e(text) {
    display: inline-block;
    font-size: $-load-more-fs;
  }
}