/**
 * UI规范基础变量
 */

/* 主题颜色 */
$-color-primary: #0084ff !default; // 正常色
$-color-success: #00c740 !default;
$-color-warning: #ffb300 !default;
$-color-error: #e2231a !default;
$-color-default: #a7a7a7 !default;
$-color-info: #909399 !default;
$-color-white: #fff !default;
$-color-black: #000 !default;

//定义类型数组
$-class-list: default primary success warning error info;

// Default colors
$-text-color: #333;
$-border-color: #eee;
$-active-color: #f2f3f5;
$-background-color: #f8f8f8;
$-background-color-light: #fafafa;

/* button */
$-button-default-color: $-text-color;
$-button-default-background-color: $-color-white;
$-button-default-border-color: $-border-color;
$-button-default-plain-color: $-text-color;


$-button-primary-color: $-color-white;
$-button-primary-background-color: $-color-primary;
$-button-primary-border-color: $-color-primary;
$-button-primary-plain-color: $-color-primary;

$-button-success-color: $-color-white;
$-button-success-background-color: $-color-success;
$-button-success-border-color: $-color-success;
$-button-success-plain-color: $-color-success;

$-button-info-color: $-color-white;
$-button-info-background-color: $-color-info;
$-button-info-border-color: $-color-info;
$-button-info-plain-color: $-color-info;

$-button-error-color: $-color-white;
$-button-error-background-color: $-color-error;
$-button-error-border-color: $-color-error;
$-button-error-plain-color: $-color-error;

$-button-warning-color: $-color-white;
$-button-warning-background-color: $-color-warning;
$-button-warning-border-color: $-color-warning;
$-button-warning-plain-color: $-color-warning;

$-button-bottom-action-default-color: $-color-white;
// $-button-bottom-action-default-background-color: $-orange;
$-button-bottom-action-primary-color: $-color-white;
// $-button-bottom-action-primary-background-color: $-red;

$-button-border-radius: 2px;
$-button-round-border-radius: 10em;
