@import "./../common/abstracts/_mixin.scss";
@import "./../common/abstracts/variable.scss";

@mixin button-type-style ($normal, $active, $disabled) {
  background: $normal;
  color: #fff;
  border-color: $normal;

  &.wd-button--active {
    background: $active;
  }
  @include when(disabled) {
    &.wd-button--active {
      background: $disabled;
      color: #fff;
    }

    opacity: 0.6;
    background: $disabled;
    border-color: $disabled;
  }
  .wd-button__loading {
    color: #fff;
  }
  @include when(loading) {
    background: $disabled;
    border-color: $disabled;

    &.wd-button--active {
      background: $disabled;
      border-color: $disabled;
    }
  }
  @include when(suck) {
    border: none;
    border-radius: 0;
  }
}

@mixin button-plain-style ($normal, $active, $disabled) {
  color: $normal;
  border-color: $normal;
  background: transparent;

  &.wd-button--active {
    color: $active;
    border-color: $active;
    background: transparent;
  }
  @include when(disabled) {
    color: $disabled;
    border-color: $disabled;
    background: transparent;
  }
  .wd-button__loading {
    color: $disabled;
  }
  @include when(loading) {
    background: transparent;
  }
}
@include b(button) {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  outline: none;
  -webkit-appearance: none;
  outline: none;
  background: transparent;
  box-sizing: border-box;
  border: 1px solid $-button-color-border;
  color: $-button-color-normal;
  transition: all .2s;
  user-select: none;

  &::after {
    border-width: 0;
  }

  &.wd-button--active {
    color: $-button-color-normal-active;
    background: $-button-color-normal-active-bg;
    border-color: $-button-color-normal-active-border;
  }
  @include when(disabled) {
    color: $-button-color-normal-disabled;
    background: $-button-color-normal-disabled-bg;
    border-color: $-button-color-normal-disabled-border;

    &.wd-button--active {
      color: $-button-color-normal-disabled;
      background: $-button-color-normal-disabled-bg;
      border-color: $-button-color-normal-disabled-border;
    }
  }

  @include e(loading) {
    display: inline-block;
    margin-right: 2px;
    vertical-align: middle;
    color: $-button-color-normal-disabled;
  }
  @include when(loading) {
    color: $-button-color-normal-disabled;
    background: $-button-color-normal-disabled-bg;
    border-color: $-button-color-normal-disabled-border;
  }

  @include when(primary) {
    @include button-type-style($-button-color-primary, $-button-color-primary-active, $-button-color-primary-disabled);
  }
  @include when(success) {
    @include button-type-style($-button-color-success, $-button-color-success-active, $-button-color-success-disabled);
  }
  @include when(info) {
    @include button-type-style($-button-color-info, $-button-color-info-active, $-button-color-info-disabled);
  }
  @include when(warning) {
    @include button-type-style($-button-color-warning, $-button-color-warning-active, $-button-color-warning-disabled);
  }
  @include when(error) {
    @include button-type-style($-button-color-error, $-button-color-error-active, $-button-color-error-disabled);
  }

  @include when(small) {
    height: $-button-small-height;
    padding: $-button-small-padding;
    border-radius: $-button-small-radius;
    font-size: $-button-small-font-size;

    @include when(round) {
      border-radius: $-button-small-round-radius;
    }
    .wd-button__loading {
      width: $-button-small-loading;
      height: $-button-small-loading;
    }
  }
  @include when(medium) {
    height: $-button-medium-height;
    padding: $-button-medium-padding;
    border-radius: $-button-medium-radius;
    font-size: $-button-medium-font-size;

    @include when(round) {
      border-radius: $-button-medium-round-radius;
    }
    .wd-button__loading {
      width: $-button-medium-loading;
      height: $-button-medium-loading;
    }
  }
  @include when(large) {
    height: $-button-large-height;
    padding: $-button-large-padding;
    border-radius: $-button-large-radius;
    font-size: $-button-large-font-size;

    @include when(round) {
      border-radius: $-button-large-round-radius;
    }
    .wd-button__loading {
      width: $-button-large-loading;
      height: $-button-large-loading;
    }
  }

  @include when(text) {
    border: none;
    color: $-button-color-primary;
    padding: 4px 0;

    &.wd-button--active {
      color: $-button-color-primary-active;
      background: transparent;
    }
    @include when(disabled) {
      color: $-button-color-normal-disabled;
      background: transparent;
    }
  }

  @include when(plain) {
    background: #fff;

    @include when(primary) {
      @include button-plain-style($-button-color-primary, $-button-color-primary-active, $-button-color-primary-disabled);
    }
    @include when(success) {
      @include button-plain-style($-button-color-success, $-button-color-success-active, $-button-color-success-disabled);
    }
    @include when(info) {
      @include button-plain-style($-button-color-info, $-button-color-info-active, $-button-color-info-disabled);
    }
    @include when(warning) {
      @include button-plain-style($-button-color-warning, $-button-color-warning-active, $-button-color-warning-disabled);
    }
    @include when(error) {
      @include button-plain-style($-button-color-error, $-button-color-error-active, $-button-color-error-disabled);
    }
    @include when(suck) {
      &.wd-button--active {
        background: #eee;
      }
      @include when(disabled) {
        background: #fff;
      }
    }
  }

  @include when(suck) {
    font-size: $-button-large-font-size;
    height: $-button-suck-height;
    width: 100%;
    border: none;
    border-radius: 0;
  }

  @include when(block) {
    display: block;
    width: 100%;
  }

  @include when(icon) {
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    border-radius: 50%;
    font-size: 0;
    color: $-button-color-icon;

    &.wd-button--active {
      background: $-button-color-icon-active;
    }
    .wd-button__icon {
      margin-right: 0;
    }
    @include when(disabled) {
      color: $-button-color-icon-disabled;
      background: transparent;

      &.wd-button--active {
        background: transparent;
      }
    }
  }

  @include e(icon) {
    display: block;
    margin-right: 6px;
    font-size: $-button-medium-font-size;
    vertical-align: middle;
  }

  @include e(text) {
    display: block;
    user-select: none;
    vertical-align: middle;
  }
}