@import "./../common/abstracts/_mixin.scss";
@import "./../common/abstracts/variable.scss";

@mixin button-type-style($color, $normal, $active, $disabled, $disabledcolor) {
  background: $normal;
  color: $color;
  border-color: $normal;
  font-weight: 700;

  &.wd-button--active {
    background: $active;
  }
  @include when(disabled) {
    &.wd-button--active {
      background: $disabled;
      color: $disabledcolor;
    }

    opacity: 0.6;
    background: $disabled;
    border-color: $disabled;
    color: $disabledcolor;
  }
  @include when(loading) {
    &,
    &.wd-button--active {
      color: $color;
      background: $normal;
      border-color: $normal;
    }
  }
  @include when(suck) {
    border: none;
    border-radius: 0;
  }
}

@mixin button-plain-style($color, $normal, $active, $disabled) {
  color: $color;
  border-color: $normal;
  background: transparent;

  &.wd-button--active {
    color: $active;
    border-color: $active;
    background: transparent;
  }
  @include when(disabled) {
    color: $disabled;
    border-color: $disabled;
    background: transparent;
    &.wd-button--active {
      background: transparent;
      border-color: $disabled;
    }
  }
  @include when(loading) {
    &,
    &.wd-button--active {
      color: $color;
      border-color: $normal;
      background: transparent;
    }
  }
}
@include b(button) {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  outline: none;
  -webkit-appearance: none;
  outline: none;
  background: transparent;
  box-sizing: border-box;
  border: 1px solid $-button-border-color;
  color: $-button-normal-color;
  transition: all .2s;
  user-select: none;
  font-weight: normal;

  &::after {
    display: none;
  }

  &.wd-button--active {
    color: $-button-normal-active-color;
    background: $-button-normal-active-bg;
    border-color: $-button-normal-border-active-color;
  }
  @include when(disabled) {
    color: $-button-normal-disabled-color;
    background: $-button-normal-disabled-bg;
    border-color: $-button-normal-border-disabled-color;

    &.wd-button--active {
      color: $-button-normal-disabled-color;
      background: $-button-normal-disabled-bg;
      border-color: $-button-normal-border-disabled-color;
    }
  }

  @include e(loading) {
    margin-right: 5px;
    animation: wd-rotate 0.8s linear infinite;
    animation-duration: 2s;
  }
  @include e(loading-svg) {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  @include when(loading) {
    &.wd-button--active {
      color: $-button-normal-color;
      background: transparent;
      border-color: $-button-border-color;
    }
  }

  @include when(primary) {
    box-shadow: $-button-primary-box-shadow;
    @include button-type-style(
      $-color-white,
      $-button-primary-bg-color,
      $-button-primary-active-color,
      $-button-primary-disabled-color,
      $-color-white
    );
    border: none;
  }
  @include when(success) {
    @include button-type-style(
      $-color-white,
      $-button-success-color,
      $-button-success-active-color,
      $-button-success-disabled-color,
      $-color-white
    );
  }
  @include when(info) {
    @include button-type-style(
      $-button-info-color,
      $-button-info-bg-color,
      $-button-info-active-bg-color,
      $-button-info-disabled-bg-color,
      $-button-info-disabled-color
    );
  }
  @include when(warning) {
    @include button-type-style(
      $-color-white,
      $-button-warning-color,
      $-button-warning-active-color,
      $-button-warning-disabled-color,
      $-color-white
    );
  }
  @include when(error) {
    @include button-type-style(
      $-color-white,
      $-button-error-color,
      $-button-error-active-color,
      $-button-error-disabled-color,
      $-color-white
    );
  }

  @include when(small) {
    height: $-button-small-height;
    padding: $-button-small-padding;
    border-radius: $-button-small-radius;
    font-size: $-button-small-fs;
    font-weight: normal;

    @include when(round) {
      border-radius: $-button-small-round-radius;
    }
    .wd-button__loading {
      width: $-button-small-loading;
      height: $-button-small-loading;
    }
  }
  @include when(medium) {
    height: $-button-medium-height;
    padding: $-button-medium-padding;
    border-radius: $-button-medium-radius;
    font-size: $-button-medium-fs;

    @include when(round) {
      min-width: 118px;
      border-radius: $-button-medium-round-radius;
    }
    .wd-button__loading {
      width: $-button-medium-loading;
      height: $-button-medium-loading;
    }
  }
  @include when(large) {
    height: $-button-large-height;
    padding: $-button-large-padding;
    border-radius: $-button-large-radius;
    font-size: $-button-large-fs;

    @include when(round) {
      border-radius: $-button-large-round-radius;
    }
    .wd-button__loading {
      width: $-button-large-loading;
      height: $-button-large-loading;
    }
  }

  @include when(text) {
    border: none;
    color: $-button-primary-color;
    padding: 4px 0;

    &.wd-button--active {
      color: $-button-primary-active-color;
      background: transparent;
    }
    @include when(disabled) {
      color: $-button-normal-disabled-color;
      background: transparent;
    }
  }

  @include when(plain) {
    background: $-color-white;

    @include when(primary) {
      @include button-plain-style(
        $-button-primary-color,
        $-button-primary-color,
        $-button-primary-active-color,
        $-button-primary-disabled-color
      );
      border: 1px solid;
      box-shadow: none;
      &.wd-button--active {
        background-color: $-button-primary-plain-active-color;
      }
      @include when(disabled) {
        &.wd-button--active {
          background-color: $-button-primary-plain-active-color;
        }
        opacity: 1;
        background-color: $-button-primary-plain-active-color;
      }
    }
    @include when(success) {
      @include button-plain-style(
        $-button-success-color,
        $-button-success-color,
        $-button-success-active-color,
        $-button-success-disabled-color
      );
    }
    @include when(info) {
      @include button-plain-style(
        $-button-info-color,
        $-button-info-bg-color,
        $-button-info-active-color,
        $-button-info-disabled-color
      );
      border-color: $-button-info-plain-color;
      &.wd-button--active {
        background-color: $-button-info-plain-active-bg-color;
        border-color: $-button-info-plain-active-color;
      }
      @include when(disabled) {
        &,
        &.wd-button--active {
          background-color: $-button-info-plain-disabled-bg-color;
        }
      }
      @include when(loading) {
        &,
        &.wd-button--active {
          border-color: $-button-info-plain-color;
        }
      }
    }
    @include when(warning) {
      @include button-plain-style(
        $-button-warning-color,
        $-button-warning-color,
        $-button-warning-active-color,
        $-button-warning-disabled-color
      );
    }
    @include when(error) {
      @include button-plain-style(
        $-button-error-color,
        $-button-error-color,
        $-button-error-active-color,
        $-button-error-disabled-color
      );
    }
    @include when(suck) {
      &.wd-button--active {
        background: $-button-suck-active-color;
      }
      @include when(disabled) {
        background: $-color-white;
      }
    }
  }

  @include when(suck) {
    display: flex;
    font-size: $-button-large-fs;
    height: $-button-suck-height;
    border: none;
    border-radius: 0;
  }

  @include when(block) {
    display: flex;
  }

  @include when(icon) {
    width: $-button-icon-size;
    height: $-button-icon-size;
    padding: 0;
    border: none;
    border-radius: 50%;
    font-size: 0;
    color: $-button-icon-color;

    &.wd-button--active {
      background: $-button-icon-active-color;
    }
    .wd-button__icon {
      margin-right: 0;
    }
    @include when(disabled) {
      color: $-button-icon-disabled-color;
      background: transparent;

      &.wd-button--active {
        background: transparent;
      }
    }
  }

  @include e(icon) {
    display: block;
    margin-right: 6px;
    font-size: $-button-icon-fs;
    vertical-align: middle;
  }

  @include e(text) {
    user-select: none;
    white-space: nowrap;
  }
}
// 微信2.8.0以上版本加了较高层级的默认样式，需要重置掉
.wd-button {
  min-height: auto;
  width: auto;
}
@keyframes wd-rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}