@import "./../common/abstracts/_mixin.scss";
@import "./../common/abstracts/variable.scss";

$button-class-map: (
  default: (
    color: $-button-default-color,
    border: $-button-default-border-color,
    background: $-button-default-background-color,
    plain: $-button-default-plain-color
  ),
  primary: (
    color: $-button-primary-color,
    border: $-button-primary-border-color,
    background: $-button-primary-background-color,
    plain: $-button-primary-plain-color
  ),
  success: (
    color: $-button-success-color,
    border: $-button-success-border-color,
    background: $-button-success-background-color,
    plain: $-button-success-plain-color
  ),
  warning: (
    color: $-button-warning-color,
    border: $-button-warning-border-color,
    background: $-button-warning-background-color,
    plain: $-button-warning-plain-color
  ),
  error: (
    color: $-button-error-color,
    border: $-button-error-border-color,
    background: $-button-error-background-color,
    plain: $-button-error-plain-color
  ),
  info: (
    color: $-button-info-color,
    border: $-button-info-border-color,
    background: $-button-info-background-color,
    plain: $-button-info-plain-color
  )
);

@function mapToStyle($class, $key) {
  @return map-get(map-get($button-class-map, $class), $key);
}

@mixin plain($-color) {
  color: $-color;
  border-color: $-color;
  background-color: $-color-white;
}
$selector: jm-button;
@include b(button) {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  height: 44px;
  margin-right: 16px;
  padding: 0;
  font-size: 16px;
  line-height: 42px;
  text-align: center;
  border-radius: 2px;
  -webkit-appearance: none;
  -webkit-text-size-adjust: 100%;

  @each $class in $-class-list {
    &--#{$class} {
      color: mapToStyle(#{$class}, "color");
      background-color: mapToStyle(#{$class}, "background");
      border: 1px solid mapToStyle(#{$class}, "border");
      &.#{$selector}--plain {
        @include plain(mapToStyle(#{$class}, "plain"));
        &.#{$selector}--active {
          background-color: mix($-color-white, $-color-black, 85%);
          &.#{$selector}--disabled {
            background-color: $-color-white;
          }
        }
      }
      &.#{$selector}--active {
        background-color: mix(
          mapToStyle(#{$class}, "background"),
          $-color-black,
          65%
        );
        &.#{$selector}--disabled {
          background-color: mapToStyle(#{$class}, "background");
        }
      }
    }
  }
  &--disabled {
    opacity: 0.3;
  }
  &--round {
    border-radius: 20px;
  }
  &--large {
    width: 100%;
    height: 50px;
    line-height: 48px;
  }
  &--middle {
    padding: 0 15px;
    font-size: 14px;
  }
  &--small {
    min-width: 60px;
    height: 30px;
    padding: 0 8px;
    font-size: 12px;
    line-height: 28px;
  }
  &--text {
    display: inline-block;
    width: auto;
    margin: 0 15px;
    background: none;
    border: none;
    color: $-text-color;
    &::after {
      border: none;
    }
  }
}
