{
  "root": true,
  "env": {
    "node": true,
    "browser": true,
    "es6": true,
    "commonjs": true
  },
  "parserOptions": {
    "ecmaVersion": 2019,
    "parser": "babel-eslint",
    "sourceType": "module"
  },
  "globals": {
    "Component": true
  },
  "plugins": [
    "json"
  ],
  "extends": [
    "eslint:recommended",
    "@jd/eslint-config-pop",
    "plugin:json/recommended"
  ],
  "rules": {
    "new-cap": "off",
    "indent": ["error",2]
  }
}
