node_modules
example/dist
example-wx
lib
lib-wx
docs/dist
docs/public/versions.json
docs/sitemap.xml
dist
# Editor directories and files
.DS_Store
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
npm-debug.log