.DS_Store
node_modules/
/example-wx/
/example/dist/
/docs/dist/
/docs/public/versions.json
/docs/sitemap.xml
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
dist/
npm-debug.log
package-lock.json