@import "./../common/abstracts/_mixin.scss";
@import "./../common/abstracts/variable.scss";

@include b(checkbox) {
  display: block;
  margin-bottom: 10px;
  font-size: 0;

  //&:last-child {
  //  margin-bottom: 10px;
  //}

  @include e(shape) {
    position: relative;
    display: inline-block;
    width: $-checkbox-size;
    height: $-checkbox-size;
    border: 1px solid $-checkbox-color-border;
    border-radius: 50%;
    color: #fff;
    background: #fff;
    vertical-align: middle;
    transition: background .2s;

    @include when(square) {
      border-radius: 4px;
    }
  }
  @include e(input) {
    position: absolute;
    width: 0;
    height: 0;
    margin: 0;
    opacity: 0;
  }
  @include e(btn-check) {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    margin-right: 4px;
    height: 16px;
    width: 16px;
  }
  @include e(txt) {
    display: inline-block;
    vertical-align: middle;
  }
  @include e(label) {
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
    font-size: $-checkbox-label-font-size;
    color: $-color-title;
  }
  @include e(check) {
    position: absolute;
    display: inline-block;
    right: 0;
    top: 1px;
    color: #fff;
    font-size: 13px;
    opacity: 0;
    transition: opacity .2s;
  }
  @include when(checked) {
    .be-checkbox__shape {
      color: $-checkbox-color-checked;
      background: currentColor;
      border-color: currentColor;
    }
    .be-checkbox__check {
      opacity: 1;
    }
  }
  @include when(button) {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 8px;
    // 小程序中每个插槽会被shadow-root包起来，所以last-child等伪类选择器无效
    //&:last-child {
    //  margin-right: 0;
    //}
    .be-checkbox__shape {
      width: 0;
      height: 0;
      overflow: hidden;
      opacity: 0;
      border: none;
    }
    .be-checkbox__label {
      margin-left: 0;
      padding: 4px 28px;
      border: 1px solid $-checkbox-color-border;
      border-radius: 4px;
      transition: color .2s, border .2s;
    }
    @include when(checked) {
      .be-checkbox__label {
        padding-left: 16px;
        padding-right: 16px;
        color: $-checkbox-color-checked;
        border-color: currentColor;
      }
    }
  }
  @include when(disabled) {
    .be-checkbox__shape {
      border-color: $-checkbox-color-disabled-label;
    }
    .be-checkbox__label {
      color: $-checkbox-color-disabled-label;
    }
    @include when(checked) {
      .be-checkbox__shape {
        color: $-checkbox-color-disabled-label;
      }
      .be-checkbox__label {
        color: $-checkbox-color-disabled-label;
      }
    }
    @include when(button) {
      .be-checkbox__label {
        border-color: $-checkbox-color-disabled;
      }
    }
  }
}