@import "./../common/abstracts/_mixin.scss";
@import "./../common/abstracts/variable.scss";

@include b(toast) {
  display: inline-block;
  max-width: calc(100% - #{$-toast-side-padding * 2});
  padding: $-toast-padding;
  background-color: $-toast-bg;
  border-radius: $-toast-radius;
  color: #fff;
  transition: all 0.2s;
  font-size: 0;
  box-sizing: border-box;

  @include e(container) {
    position: fixed;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translate(0, -50%);
    text-align: center;
  }
  @include e(msg) {
    font-size: $-toast-fs;
    line-height: 1.4285;
  }
  @include e(icon) {
    display: inline-block;
    margin-bottom: 16px;
    font-size: $-toast-icon-size;
  }
  @include e(loading) {
    margin-bottom: 16px;
  }
  @include m(top) {
    transform: translate3d(0, -40vh, 0);
  }
  @include m(bottom) {
    transform: translate3d(0, 40vh, 0);
  }
  @include m(with-icon) {
    min-width: $-toast-with-icon-min-width;
    padding: $-toast-with-icon-padding;
  }
  @include m(loading) {
    min-width: auto;
    padding: $-toast-loading-padding;
  }
}
