@import "./../common/abstracts/_mixin.scss";
@import "./../common/abstracts/variable.scss";

@include b(toast) {
  padding: 8px 14px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  color: #fff;
  transition: all 0.2s;
  text-align: center;
  font-size: 0;

  @include e(container) {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @include e(msg) {
    font-size: 14px;
    line-height: 1.4285;
    white-space: nowrap;
  }
  @include e(icon) {
    display: inline-block;
    margin-bottom: 16px;
    font-size: 39px;
  }
  @include e(loading) {
    margin-bottom: 16px;
  }
  @include m(top) {
    transform: translate3d(0, -40vh, 0);
  }
  @include m(bottom) {
    transform: translate3d(0, 40vh, 0);
  }
  @include m(with-icon) {
    min-width: 150px;
    padding: 18px 15px 15px;
    box-sizing: border-box;
  }
  @include m(loading) {
    min-width: auto;
    padding: 10px;
  }
}
