@import "../common/abstracts/_mixin.scss";

@keyframes jm-rotate {
  0% {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(1turn)
  }
}

@include b(loading) {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  @include e(wrapper) {
    position: relative;
    z-index: 0;
    display: inline-block;
    line-height: 0
  }

  @include m(vertical) {
    flex-direction: column
  }

  @include e(spinner) {
    position: relative;
    z-index: -1;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    animation: jm-rotate .8s linear infinite;

    @include m(spinner) {
      animation-timing-function: steps(12)
    }

    @include m(circular) {
      border: 1px solid transparent;
      border-top-color: initial;
      border-radius: 100%
    }
  }

  @include e(text) {
    margin-left: 8px;
    color: #969799;

    @include m(vertical) {
      margin: 8px 0 0
    }
  }

  @include e(dot) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &::before {
      display: block;
      width: 2px;
      height: 25%;
      margin: 0 auto;
      background-color: currentColor;
      border-radius: 40%;
      content: " "
    }

    @for $i from 1 through 12 {
      &:nth-of-type(#{$i}) {
        transform: rotate(#{$i*30}deg);
        opacity: #{1-($i - 1)*.0625}
      }
    }
  }
}


