@import "../common/abstracts/_mixin.scss";

@keyframes wd-rotate {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}

@include b(loading) {
  display: inline-block;

  @include e(circle) {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-top-color: currentColor;
    border-radius: 50%;
    font-size: 0;
    animation: wd-rotate .8s linear infinite;
  }

  @include e(spinner) {
    position: relative;
    width: 100%;
    height: 100%;
    animation: wd-rotate .8s steps(12) infinite;
  }

  @include e(spinner-dot) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &::before {
      display: block;
      width: 2px;
      height: 25%;
      margin: 0 auto;
      background-color: currentColor;
      border-radius: 40%;
      content: " ";
    }
  }
  @for $i from 1 through 12 {
    .wd-loading__spinner-dot-#{$i - 1} {
      transform: rotate(#{$i*30}deg);
      opacity: #{1-($i - 1)*.0625};
    }
  }
}


