@import '../common/abstracts/variable';
@import '../common/abstracts/mixin';

@include b(input) {
  position: relative;
  -webkit-tap-highlight-color: transparent;
  &::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: $-color-border;
    transform: scaleY(0.5);
  }
  @include e(block){
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    z-index: 1;
  }
  @include e(label) {
    width: 33%;
    color: $-picker-label-color;
    box-sizing: border-box;
    font-size: 14px;
  }
  @include e(label-inner) {
    display: inline-block;
    padding: 11px 10px 11px 0;
  }
  @include when(cell) {
    display: flex;
    align-items: flex-start;
    padding: 0 15px;
    background-color: #fff;
    @include halfPixelBorder('top', 15px);

    &.is-no-hair::after {
      display: none;
    }
    &.is-error::after {
      background: $-color-line;
    }
    .wd-input__textarea, .wd-input__block {
      flex: 1;
    }
    .wd-input__icon {
      height: 42px;
      line-height: 42px;
    }
    .wd-input__prefix {
      display: inline-block;
    }
    .wd-input__inner {
      height: 42px;
    }
  }
  @include when(textarea) {
    &::after {
      display: none;
    }
  }
  @include when(error) {
    &::after {
      background: $-color-aid-red;
    }
    .wd-input__inner, .wd-input__textarea-inner {
      color: $-color-aid-red;
      background: transparent;

      &::-webkit-input-placeholder {
        color: $-color-aid-red;
      }
    }
  }
  @include when(disabled) {
    .wd-input__inner, .wd-input__textarea-inner {
      color: $-color-tip;
      background: transparent;
    }
  }
  @include e(inner) {
    flex: 1;
    padding: 10px 0;
    font-size: 14px;
    color: $-color-title;
    box-sizing: border-box;
    outline: none;
    border: none;
    height: 40px;
    line-height: 14px;
    padding: 10px 0;

    &::-webkit-input-placeholder {
      color: $-color-tip;
    }
  }
  @include e(prefix) {
    margin-right: 8px;

    .wd-input__icon {
      margin-left: 0;
    }
  }
  @include e(suffix) {
    margin-left: 8px;
  }
  @include e(icon) {
    margin-left: 8px;
    font-size: 16px;
    color: $-color-icon;
    vertical-align: middle;
    height: 37px;
    line-height: 37px;
    background: #fff;
  }
  @include e(count) {
    margin-left: 8px;
    font-size: 12px;
    color: $-color-secondary;
    vertical-align: middle;
    height: 37px;
    line-height: 37px;
    background: #fff;
  }
  @include e(count-current) {
    color: $-color-title;

    @include when(error) {
      color: $-color-aid-red;
    }
  }

  @include e(textarea) {
    position: relative;
    padding: 10px 0;
    font-size: 0;
    display: flex;

    @include when(show-limit) {
      padding-bottom: 25px;
    }
    @include when(text-auto) {
      padding: 10px 0;

      .wd-input__textarea-suffix {
        top: 0;
        right: 0;
      }
    }
  }
  @include e(textarea-inner) {
    flex: 1;
    padding: 0;
    font-size: 14px;
    color: $-color-title;
    outline: none;
    box-sizing: border-box;
    border: none;
    word-break: break-word;

    &::-webkit-input-placeholder {
      color: $-color-tip;
    }
    @include when(suffix) {
      padding-right: 20px;
    }
  }
  @include e(textarea-suffix) {
    position: absolute;
    right: 0;
    top: 2px;
    bottom: 0;
    z-index: 2;
  }
  @include e(textarea-icon) {
    margin-left: 8px;
    font-size: 16px;
    line-height: 20px;
    color: $-color-icon;
    background: #fff;
  }
  @include e(textarea-count) {
    position: absolute;
    bottom: 6px;
    right: 0;
    font-size: 12px;
    color: $-color-secondary;
    background: #fff;
  }
  @include e(textarea-count-current) {
    color: $-color-title;

    @include when(error) {
      color: $-color-aid-red;
    }
  }
  @include e(placeholder) {
    color: $-color-tip;

    &.is-error {
      color: $-color-aid-red;
    }
  }
  .wd-input__textarea-count,
  .wd-input__count,
  .wd-input__count-current{
    display: inline-block;
  }
  @include e(readonly){
    line-height: 20px;
  }
  @include e(textarea-map){
    position: absolute;
    width: 100%;
    height: 100%;
  }
}