@import "./../common/abstracts/_mixin.scss";
@import "./../common/abstracts/variable.scss";
$selector: jm-switch__node;
.jm-switch {
  position: relative;
  width: $-switch-width;
  height: $-switch-height;
  border: solid 1px $-switch-color-border;
  border-radius: $-switch-height;
  box-sizing: content-box;
  background-color: $-switch-background-color;
  transition: background-color $-switch-transition-duration;

  &__node {
    top: 0;
    left: 0;
    position: absolute;

    border-radius: 18px;
    box-shadow:$-switch-inactive-box-shadow;
    background-color: $-switch-node-background-color;

    width: $-switch-height;
    height: $-switch-height;
    z-index: 1;
    transition: $-switch-transition-duration;

    &--disabled{
      background-color: $-switch-color-inactive-disabled;
      .#{$selector} {
        box-shadow: none;
      }
    }
  }

  // 开
  &__on {
    border: solid 1px $-switch-color-active;
    background-color: $-switch-color-active;

    .#{$selector} {
      transform: translateX($-switch-width - $-switch-height);
    }

    &--disabled {    
      background-color: $-switch-color-active-disabled;
      border: solid 1px $-switch-color-active-disabled;

      .#{$selector} {
        box-shadow: none;
      }
    }
  }
}