@import "./../common/abstracts/_mixin.scss";
@import "./../common/abstracts/variable.scss";

$-notice-line-height:24px;

.jmd__noticeBarContainer {
  display: flex;
  padding: 5px 10px;
  font-size: 14px;
  line-height: $-notice-line-height;
  align-items: center;
  &--iconLeft{
    position: relative;
    z-index: 2;
    flex: 1;
  }
  &--iconRight{
    position: relative;
    z-index: 2;
    flex: 1;
  }
  &--text{
    position: absolute;
    width: auto;
    left: 0;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &--textWrapper{
    overflow: hidden;
    flex: 12;
    margin-left: 5px;
    position: relative;
    height: $-notice-line-height;
    text-align: left;
  }
}