@import "./../common/abstracts/_mixin.scss";
@import "./../common/abstracts/variable.scss";


.jmd__noticeBarContainer {
  display: flex;
  height: 40px;
  padding: 0 15px;
  font-size: 14px;
  line-height: 24px;
  align-items: center;
  &--iconLeft{
    position: relative;
    z-index: 2;
    flex: 1;
  }
  &--iconRight{
    position: relative;
    z-index: 2;
    flex: 1;
  }
  &--text{
    white-space: nowrap;
    position: absolute;
    width: auto;
    left: 100%;

  }
  &--textWrapper{
    overflow: hidden;
    font-size: 12px;
    flex: 12;
    margin-left: 5px;
    position: relative;
    height: 24px;

  }
}