@import "../common/abstracts/_variable.scss";
@import "../common/abstracts/_mixin.scss";

@include b(message-box) {
  border-radius: $-message-box-radius;
  overflow: hidden;

  @include e(container) {
    width: $-message-box-width;
    box-sizing: border-box;
  }
  @include e(body) {
    background-color: #fff;
    padding: $-message-box-padding;

    @include when(no-title) {
      padding: 25px 24px 0px;
    }
    @include when(prompt) {
    }
  }
  @include e(title) {
    text-align: center;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.85);
    line-height: 20px;
    font-weight: 500;
    padding-top: 5px;
    padding-bottom: 10px;
    font-family: "San Francisco", Rotobo, arial, "PingFang SC", "Noto SansCJK", "Microsoft Yahei", sans-serif;
  }
  @include e(content) {
    max-height: $-message-box-content-max-height;
    color: $-message-box-content-color;
    font-size: $-message-box-content-fs;
    text-align: center;
    overflow: auto;
    word-break: break-all;
    line-height: 20px;
    font-family: "San Francisco", Rotobo, arial, "PingFang SC", "Noto SansCJK", "Microsoft Yahei", sans-serif;

    &::-webkit-scrollbar {
      width: $-message-box-content-scrollbar-width;
    }
    &::-webkit-scrollbar-thumb {
      width: $-message-box-content-scrollbar-width;
      background: $-message-box-content-scrollbar-color;
      border-radius: $-message-box-content-scrollbar-width / 2;
    }
  }
  @include e(input-container) {
    position: relative;
    margin-top: 12px ;
    font-family: "San Francisco", Rotobo, arial, "PingFang SC", "Noto SansCJK", "Microsoft Yahei", sans-serif;

    &::after {
      position: absolute;
      display: block;
      content: '';
      width: 100%;
      height: 1px;
      left: 0;
      bottom: 0;
      transform: scaleY(0.5);
      background: #c5c5c5;
    }

    &-placeholder {
      color: #d2d2d2;
      font-size: 16px;
      font-weight: normal;
    }
  }
  @include e(input-inner){
    text-align: left;
  }
  @include e(input-placeholder){
    text-align: left;
  }
  @include e(input-error) {
    min-height: 18px;
    margin-top: 2px;
    color: $-message-box-input-error-color;
    text-align: left;

    @include when(hidden) {
      visibility: hidden;
    }
  }
  @include e(actions) {
    padding: 24px;
  }
  @include e(flex) {
    display: flex;
  }
  @include e(block) {
    display: block;
  }
  @include e(button) {
    display: block;
    flex: 1;
    text-align: center;
    height: 36px;
    line-height: 36px;
    outline: none;
    -webkit-appearance: none;
    border: none;
    min-width: 118px;
    border-radius: 22PX;
    
    @include m(cancel) {
      box-sizing: border-box;
      margin-right: 16px;
      border-top: 1px solid #f4f4f4;
    }
    @include m(confirm) {
    }
  }
}

.zoomIn-enter-active, .zoomIn-leave-active{
  opacity: 1;
  transform: translate3d(-50%, -50%, 0) scale(1);
  transition: all .2s;
}
.zoomIn-enter{
  opacity: 0;
  transform: translate3d(-50%, -50%, 0) scale(0.7);
  transition: all .2s ease-out;
}
.zoomIn-leave-to{
  opacity: 0;
  transform: translate3d(-50%, -50%, 0) scale(0.9);
  transition: all .2s ease-out;
}
