@import "./../common/abstracts/_mixin.scss";
@import "./../common/abstracts/variable.scss";
$container: 'wd-tooltip__container';
$arrow: 'wd-tooltip__arrow-';
$placement:'top','top-start','top-end', 'bottom','bottom-start','bottom-end', 'right','right-start','right-end','left','left-start','left-end';

@include b(tooltip) {
  position: relative;
  display: inline-block;
  @include e(icon) {
    margin-right: 5px;
    vertical-align: middle;
  }
  @include e(target) {
    display: inline-block;
    line-height: 1;
  }
  @include e(pos) {
    position: absolute;
    transition-property: opacity;
    backdrop-filter: blur($-tooltip-blur);
    background-clip: padding-box; 
    box-shadow: 0 2px 8px rgba(0,0,0,.15);
    border-radius: 2px;
   
    text-align: center;
    box-sizing: border-box;

    @each $el in $placement{
      @if $el == 'top' or $el == 'top-start' or $el == 'top-end' {
        .#{$arrow + $el}{
          border-top: $-tooltip-arrow-height * 2 solid $-tooltip-bg-color;
          bottom: - $-tooltip-arrow-height * 2;
          border-bottom-width: 0;
        }
      }
      @if $el == 'bottom' or $el == 'bottom-start' or $el == 'bottom-end' {
        .#{$arrow + $el}{
          border-bottom: $-tooltip-arrow-height * 2 solid $-tooltip-bg-color;
          top: - $-tooltip-arrow-height * 2;
          border-top-width: 0;
        }
      }
      @if $el == 'top-start' or $el == 'bottom-start' {
        .#{$arrow + $el}{
          left: $-tooltip-arrow-height * 3;
        }
      }
      @if $el == 'top' or $el == 'bottom' {
        .#{$arrow + $el}{
          left: 50%;
          transform: translateX(-50%);
        }
      }
      @if $el == 'top-end' or $el == 'bottom-end' {
        .#{$arrow + $el}{
          right: $-tooltip-arrow-height * 3;
        }
      }
      @if $el == 'right' or $el == 'right-start' or $el == 'right-end' {
        .#{$arrow + $el}{
          border-right: $-tooltip-arrow-height * 2 solid $-tooltip-bg-color;
          left: - $-tooltip-arrow-height * 3;  
        }
      }
      @if $el == 'left' or $el == 'left-start' or $el == 'left-end' {
        .#{$arrow + $el}{
          border-left: $-tooltip-arrow-height * 2 solid $-tooltip-bg-color;
          right: - $-tooltip-arrow-height * 3;
        }
      }
      @if $el == 'left-start' or $el == 'right-start' {
        .#{$arrow + $el}{
          top: $-tooltip-arrow-height * 3;
        }
      }
      @if $el == 'left' or $el == 'right' {
        .#{$arrow + $el}{
          top: 50%;
          transform: translateY(-50%);
        }
      }
      @if $el == 'left-end' or $el == 'right-end' {
        .#{$arrow + $el}{
          bottom: $-tooltip-arrow-height * 3;
        }
      }
    }

    @include when(dark){
      background-color: $-tooltip-bg-color;
      color: $-tooltip-color;
    }

    @include when(light){
      background-color: $-color-white;
      color: $-color-text;
      border: 1px solid $-tooltip-bg-color;
      .wd-tooltip__arrow-top,
      .wd-tooltip__arrow-top-end,
      .wd-tooltip__arrow-top-start{
        &::after{
          content: " ";
          position: absolute;
          top: - $-tooltip-arrow-height * 2 - 2;
          border-bottom-width: 0;
          border-top-width: $-tooltip-arrow-height * 2;
          margin-left: - $-tooltip-arrow-height;
          height:  0;
          border-color: transparent;
          border-top-color: $-color-white;
          border-style: solid;
        }
      }
      .wd-tooltip__arrow-bottom,
      .wd-tooltip__arrow-bottom-end,
      .wd-tooltip__arrow-bottom-start{
        &::after{
          content: " ";
          position: absolute;
          top: 2px;
          border-top-width: 0;
          border-bottom-width: $-tooltip-arrow-height * 2;
          margin-left: - $-tooltip-arrow-height;
          height:  0;
          border-color: transparent;
          border-bottom-color: $-color-white;
          border-style: solid;
        }
      }
      .wd-tooltip__arrow-left,
      .wd-tooltip__arrow-left-end,
      .wd-tooltip__arrow-left-start{
        &::after{
          content: " ";
          position: absolute;
          top: - $-tooltip-arrow-height;
          border-right-width: 0;
          border-left-width: $-tooltip-arrow-height * 2;
          margin-left: - $-tooltip-arrow-height * 2 - 2;
          height:  0;
          border-color: transparent;
          border-left-color: $-color-white;
          border-style: solid;
        }
      }
      .wd-tooltip__arrow-right,
      .wd-tooltip__arrow-right-end,
      .wd-tooltip__arrow-right-start{
        &::after{
          content: " ";
          position: absolute;
          top: - $-tooltip-arrow-height;
          border-left-width: 0;
          border-right-width: $-tooltip-arrow-height * 2;
          margin-left: 2px;
          height:  0;
          border-color: transparent;
          border-right-color: $-color-white;
          border-style: solid;
        }
      }
    }
  }
  @include e(container) {
    line-height: $-tooltip-lineheight;
    font-size: $-tooltip-fontsize;
  }
  @include e(inner) {
    padding: 5px 10px;
    white-space: nowrap;
  }
  @include e(menu-inner) {
    padding: 5px 10px;
  }
  @include e(menu) {
    display: inline-block;
    padding: 5px 0;
    white-space: nowrap;
  }
  @include e(arrow) {
    width: 0;
    height: 0;
    position: absolute;
    display: block;
    border: $-tooltip-arrow-height solid transparent;
    z-index: 1001; 
  }
}