@include b(button) {
    
}
button[type="primary"] {
  color: #ffffff;
  border-radius: 8px;
  background-color: #0083ff;
}
.button-hover[type="primary"] {
  color: #ffffff;
  border-radius: 8px;
  background-color: #0068d7;
}
button[disabled][type="primary"] {
  background-color: #9ed99d;
}
