@import "./../common/abstracts/_mixin.scss";
@import "./../common/abstracts/variable.scss";

$-inputNumber-border:0.5px solid $-inputNumber-border-color;

.jm-input-number{
  display: inline-block;
  height: $-inputNumber-height;

  &--minus,
  &--plus{
    display: inline-block;
    position: relative;
    height: $-inputNumber-height;
    text-align: center;
    width:$-inputNumber-btn-width;
    border:$-inputNumber-border; 
    box-sizing: border-box;
    vertical-align: top;

    // border:$-inputNumber-border;
    // border-left: none;
    &::before {
      width: 13px;
      height: 1px;
    }

    &::after {
      width: 1px;
      height: 13px;
    }
    &::before,
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      background-color:$-inputNumber-color;
      content: '';
    }
    &--disabled {
      
      &::before,
      &::after {
        background-color:$-inputNumber-disabled-color;
      }
    }
  }
  &--minus{
    border-radius: 2px 0 0 2px ;
    border-right: 0;    
    &::after {
      display: none;
    }
  }
  &--plus{
    border-radius: 0 2px 2px 0;
    border-left: 0;
  }

  &--input{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: $-inputNumber-input-width;
    line-height: $-inputNumber-height;
    height:$-inputNumber-height - 1;
    border:$-inputNumber-border; 
    background: $-color-white;
    color: $-inputNumber-color;
    font-size: 12px;

    &--disabled {
      color: $-inputNumber-disabled-color;
      background-color: $-inputNumber-disabled-input-bg;
    }
  }
}
