@import "./../common/abstracts/_mixin.scss";
@import "./../common/abstracts/variable.scss";

/* inputNumber */
$-input-number-border:1px solid $-border-color;
$-input-number-font-size:12px;
$-input-number-button-width:40px;
$-input-number-button-height:30px;

.jmd__inputNumberContainer {
  view{
    display: inline-block;
    line-height: 20px;
    padding: 5px 0;
    text-align: center;
    width:$-input-number-button-width;
    box-sizing: border-box;
    vertical-align: middle;
    font-size:$-input-number-font-size;
  }
  &--minus{
    border: $-input-number-border;
    border-right: none;
    border-radius:2px 0 0 2px;
  }
  &--plus{
    border: $-input-number-border;
    border-left: none;
    border-radius:0 2px 2px 0;
  }
  &--input{
    font-size: $-input-number-font-size;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    height: $-input-number-button-height;
    width: $-input-number-button-width;
    min-height: auto;
    line-height: $-input-number-button-height;
    border: $-input-number-border;
    background: $-color-white;
    color: $-color-text;
  }
  &--disabled{
    border-color: $-border-color;
    color: #bbbec4;
    background: #f7f7f7;
  }

}
